.ValuesWrapper{
    position: relative;
    margin-left: 5%;
    top: 50vh;
    display: flex;
    flex-direction: column;
    bottom: 10vh;
    height: 100vh;

    .title{
        align-self: center;
        font-family: 'Berkshire Swash', cursive; 
        font-size: 30px;
    }

    .values{
        align-self: center;

        p{
            font-size: 25px;
        }

        p:nth-child(1){
            position: absolute;
            top: 15%;
            right: 35%;
        }
        p:nth-child(2){
            position: absolute;
            right: 20%;
            top: 35%;
        }
        p:nth-child(3){
            position: absolute;
            right: 35%;
            top: 60%;
        }
        p:nth-child(4){
            position: absolute;
            left: 40%;
            top: 60%;
        }
        p:nth-child(5){
            position: absolute;
            left: 25%;
            top: 35%;
        }
        p:nth-child(6){
            position: absolute;
            top: 15%;
            left: 40%;
        }
        p:nth-child(7){
            position: absolute;
            right: 40%;
            top: 35%;
            color: red;
        }
    }

  }